.img-sec {
	width: 100%;
    height: 300px;
    object-fit: cover;
    padding-right: 20px;
}
.list-el {
   display:inline-block;
   height: 230%;
   vertical-align:top;
   padding: 10px;
}
.left {
    text-align: left;
}
button, .cart {
    float: right;
    margin-top: -45px;
}
.cart {
    margin-top: 0px;
    padding-bottom: 10px;
}
h1 {
    padding-left: 8px;
}
.box {
    border: 1px grey solid;
    margin: 0 auto;
    
}
@media only screen and (min-width: 1200px) {
    .box {
        margin-top: 200px;
        max-width: 1140px;
    }
}
@media only screen and (max-width: 650px) {
    .card-button {
        margin-top: -80px;
        margin-right: -20px;
    }
    .h1, h1 {
        font-size: 1.4rem;
        padding-top: 20px;
    }
}
@media only screen and (max-width: 460px) {
    .card-button {
        margin-top: -100px;
        margin-right: -20px;
    }
    .h1, h1 {
        font-size: 1.4rem;
        padding-top: 20px;
    }
}
