
#json-table {
	width: 90%;
	margin: auto;
	margin-top: 50px;
	padding: 10px;
}
#json-table_filter {
	margin-right: 50px;
	margin-top: 10px;
}
.img-thumb {
	width: 50px;
	height: 30px;
	object-fit: cover;
}
.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}
.center {
	 text-align:center;
}
.center p {
	display: none;
}
.red {
	background: red !important;
}
.green {
	background: green !important;
}
@media only screen and (min-width: 1500px) {
	#json-table_filter {
		margin-right: 100px;
	}
}