a {
	 text-decoration: none;
	 color: black;
}
.list-element{
	width: 31%;
	height: 280px;
	margin: 10px;
	float: left;
}
img {
	width: 100%;
	height: 200px;
}
@media only screen and (min-width: 1500px) {
	.list-element{
		width: 30%;
		height: 360px;
		padding: 20px;
	}
	img {
		height: 320px;
	}
	a {
		font-size: 20px;
	}
}
