<div class="card"> 
  <div class="card-body">
      <a [routerLink]="['/products/cart']" class="cart"><span>View your shopping bag</span></a>
      <div class="card-title">
        <h1>
            {{ pageTitle }}
        </h1>
      </div>
    <div class="row">
        <div class="col-md-1"></div>
      <div class="col-md-4">
        <p class="location">Find by location:</p>
        <select [(ngModel)]="listFilter" class="location">
          <option *ngFor="let location of locations | unique"  [value]="location">{{ location }}</option>
        </select>
      </div>
    </div>
   <!-- <div class="row">
      <div class="col-md-6">
        <h3>Found by store: {{ listFilter }}</h3>
      </div>
    </div>-->
    <div class="container container-fluid" *ngIf='products && products.length'>
      <div *ngFor="let product of filteredProducts" class="col-lg-3 col-md-4 col-sm-6 col-xs-12 list-el">
          <a [routerLink]="['/products', product.id]"class="card-link">  
            <img [src]="product.image" class="card-img-top" />
            <h6 class="card-subtitle">{{ product.name }}</h6>
          </a>
          <p class="card-text price">{{ product.price | currency: product.currency: true }}</p>
        </div>
    </div>
  </div>
</div>
