.container-fluid, body {
	background-color: #dee0e2;
}
.center {
	position: absolute;
    margin-top: 10%;
    background-color: white;
    height: 100%;
}
input[value='Update data'], input[value='Empty form'] {
	display: none;
}
input[value='Empty form'] {
	margin-left: 20px;
}
input, select > option, td, th, h1, .error {
   text-align:center !important;
}
input[type="submit"] {
	float: right;
}
.row {
    padding-left: 17%;
}
form {
	margin-top: 40px;
	margin-bottom: 60px;
}
@media only screen and (min-width: 1500px) {
	.center {
	    left: 25%;
	}
}
@media only screen and (max-width: 1500px) {
	.container-fluid {
		-webkit-box-align: center;
	    -webkit-box-pack: center;
	    display: -webkit-box;
	}
	.row {
	    padding-left: 20%;
	}
}
@media only screen and (max-width: 1400px) {
	.row {
	    padding-left: 10%;
	}
	.bootstrap-iso .col-sm-6 {
    	width: 60% !important;
	}
	.row:last-of-type {
		padding-right: 10%;
	}
}
@media only screen and (max-width: 1100px) {
	.row {
	    padding-left: 15%;
	}
	.bootstrap-iso .col-sm-6 {
    	width: 80% !important;
	}

}
@media (max-width: 800px) {
	.row {
	    padding-left: 12%;
	}
}
.error {
	display: none;
	color: red;
	margin-bottom: 30px;
}
#fileContainer a {
	display: none;
}
