.container {
	 max-width: 1900px !important;
}
.list-element{
	height: 280px;
	padding: 20px;
	padding-right: 50px !important;
	padding-left: 50px !important;
	float: left;
	transition: 0.7s all;
	overflow: hidden;
}/*
.list-element:hover { 
    transform: scale(1.1); 
    cursor: pointer;
} */
img {
	width: 50%;
    height: 38%;
	float: right;
	padding-left: 5px;
	object-fit: cover;
	padding-top: 5px;
}
h3 {
	-webkit-margin-before: 0em;
	padding-top: 5px;
	font-size: 
}
.date {
	float: right;
}
 .word-break {
 	word-break: break-all;
}
.close-button {
    font-size: 40px !important;
    position: fixed;
    top: 5%;
    transform: translate(-50%, 0);
    left: 50%;
    z-index: 9001;
    opacity: 0;
}
.show {
	opacity: 1;
}
#popup {
	background-color: white;
    z-index: 1001;
    width: 80%;
    height: 90%;
    position: fixed;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 0);
    display: none;
    overflow: auto;
    padding: 40px;
}
.content-body {
	padding-top: 40px;
}
.grey {
	background-color: rgba(17, 17, 17, 0.65);
}
@media only screen and (min-width: 1500px) {
	.list-element{
		height: 400px;
	}
	h1, h2, h3, h4 {
		font-size: 24px !important;
	}
	p, span {
		font-size: 20px !important;
	}
}
@media only screen and (max-width: 1500px) {

	h1, h2, h3, h4 {
		font-size: 16px !important;
	}
	p, span {
		font-size: 14px !important;
	}
	.close-button {
		font-size: 26px !important;
	}
	#popup {
	    padding: 10px;
	}
}
@media only screen and (max-width: 400px) {
	.list-element{
		height: 130px;
		padding-right: 5px !important;
    	padding-left: 5px !important;
	}
	img {
		width: 70px;
	    height: 70px;
		float: left;
		padding-right: 5px;
	}
	h1, h2, h3, h4{
		font-size: 14px !important;
	}
	span, p {
		font-size: 12px !important;
	}
	.word-break, .author {
		display: none;
	}
	.close-button {
		font-size: 16px !important;
	}
	#popup {
	    padding: 0px;
	}
}
